<mat-toolbar class="lit-menu">
  <div class="lit-menu-title">
    <span>Bolt</span><mat-icon aria-label="Lightning icon">bolt</mat-icon><span>Buddy</span>
  </div>
  <span class="lit-menu-spacer"></span>
  <!-- <button mat-icon-button (click)="openSettingsDialog() aria-label="Settings icon">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="theme-icon" class="thunderclap-btn" (click)="toggleTheme()"
    aria-label="Icon button that changes the theme">
    @if (isLightMode) {
    <mat-icon>dark_mode</mat-icon>
    }@else {
    <mat-icon>light_mode</mat-icon>
    }
  </button> -->
</mat-toolbar>
<app-lightning-card></app-lightning-card>
