.lit-menu {
  &-spacer {
    flex: 1 1 auto;
  }

  &-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__logo {
      height: 4rem;

      &--img {
        height: 100%;
        border-left: 1rem solid black;
      }
    }
  }
}
