<mat-toolbar class="lit-menu">
  <button mat-icon-button color="primary" class="menu-icon" aria-label="Menu button">
    <mat-icon color="primary">menu</mat-icon>
  </button>
  <span>Lightning App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="theme-icon" class="thunderclap-btn" (click)="toggleTheme()"
    aria-label="Icon button that changes the theme">
    @if (isLightMode) {
    <mat-icon>dark_mode</mat-icon>
    }@else {
    <mat-icon>light_mode</mat-icon>
    }
  </button>
</mat-toolbar>
<app-lightning-card></app-lightning-card>
