<div class="lit-card">
  <mat-card>
    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <mat-card-header>
      <mat-card-title class="lit-card-title">Lightning Calculator</mat-card-title>
      <mat-card-subtitle>Check how far from you a lightning was struck!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="lit-card-content">
        <mat-form-field class="lit-card-content__form">
          <mat-label>Temperature ({{currentTempSymbol}})</mat-label>
          <input matInput [formControl]="currentTemperature">
          @if (currentTemperature.value) {
          <button matSuffix mat-icon-button aria-label="Reloads temperature" (click)="fetchTemperature(true)">
            <mat-icon>replay_circle</mat-icon>
          </button>
          }
        </mat-form-field>
        <mat-divider></mat-divider>
        <div class="lit-card-content__info">
          <mat-card-title>Bolt Information</mat-card-title>
          <span>Time between light and sound: {{timeDifference / 1000}} s</span>
          <span>Speed of sound: {{speedOfSound}} m/s</span>
          <span>Storm distance: {{this.boltDistance}} m</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="lit-card-actions">
      @if (isLightning) {
      <button mat-raised-button color="primary" (click)="startWaiting()">Lightning <mat-icon inline="true"
          iconPositionEnd aria-label="Lightning icon">bolt</mat-icon></button>
      } @else {
      <button mat-raised-button color="primary" (click)="startWaiting(true)">Thunderclap <mat-icon inline="true"
          iconPositionEnd aria-label="Thunderclap icon">spatial_audio</mat-icon></button>
      <p class="button-msg">Press the button again to calculate distance<br>The button will reset after 15 seconds</p>
      }
    </mat-card-actions>
  </mat-card>
</div>
