<p mat-dialog-title>Settings</p>
<mat-dialog-content class="settings-panel">
  <form [formGroup]="settingsForm">
    <h3 class="settings-panel__h3">Choose color theme</h3>
    <mat-slide-toggle formControlName="isLightMode" color="primary" disableRipple="true" labelPosition="before"><span>Light Mode</span></mat-slide-toggle>
    <h3 class="settings-panel__h3">Measurement unit</h3>
    <mat-button-toggle-group formControlName="units" aria-label="Temperature unit">
      <mat-button-toggle value="metric">Metric</mat-button-toggle>
      <mat-button-toggle value="imperial">Imperial</mat-button-toggle>
      <mat-button-toggle value="standard">Standard</mat-button-toggle>
    </mat-button-toggle-group>
  </form>
  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data">Save</button>
  </mat-dialog-actions>
</mat-dialog-content>
